.thumbnail img {
    width: 50%;
}

.thumbnail {
    padding: 15px;
    border: 2px solid rgba(34, 34, 34, 0.54);
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav > li > a  {
    color: white;
}

.navbar {
    border-radius: 0px;
}

.jumbotron .container h1{
    text-align: center;
    padding-bottom:  5px;
    border-bottom: 2px solid #ddd;
}

.jumbotron .container p{
    text-align: center;
}

.jumbotron {
    background-color:  white;
}